.infinite-scroll-component {
  overflow: unset !important;
}

.__react_component_tooltip {
  border: none !important;
}

.__react_component_tooltip::after {
  border-bottom-color: #4988b3 !important;
}

.active-svg path {
  stroke: url(#primary-gradient);
}

.country-select input {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
  height: 30px;
}

.country-select input::after {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

.animation-wrapper img {
  transition: 0.3s;
}

.animation-wrapper:hover img {
  transform: scale(1.2);
  transition: 0.3s;
}

.device-table-cell {
  min-width: 210px;
  max-width: 230px;
}

/* hiding arrows from number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
