.infinite-scroll-component {
  overflow: unset !important;
}

.__react_component_tooltip {
  border: none !important;
}

.__react_component_tooltip::after {
  border-bottom-color: #4988b3 !important;
}

.active-svg path {
  stroke: url(#primary-gradient);
}

.country-select input {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

.country-select input::after {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}
